In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data0220/scores0220.csv")

In [1]:
# DataFrame의 행(row)과 열(colum)의 개수를 튜플 형태로 반환하는 속성이다.
df.shape # (3, 5) 출력된다. index도 포함된다. 3행과 5개의 변수가 있다.

NameError: name 'df' is not defined

In [6]:
df

   Unnamed: 0   이름  Java  React  Spring
0           1  김파이    90     60      70
1           2  강감찬    70     80      90
2           3  이성계    80     80      50

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   이름          3 non-null      object
 2   Java        3 non-null      int64
 3   React       3 non-null      int64
 4   Spring      3 non-null      int64
dtypes: int64(4), object(1)
memory usage: 252.0+ bytes

In [9]:
df.describe()

       Unnamed: 0  Java      React  Spring
count         3.0   3.0   3.000000     3.0
mean          2.0  80.0  73.333333    70.0
std           1.0  10.0  11.547005    20.0
min           1.0  70.0  60.000000    50.0
25%           1.5  75.0  70.000000    60.0
50%           2.0  80.0  80.000000    70.0
75%           2.5  85.0  80.000000    80.0
max           3.0  90.0  80.000000    90.0